body {
    background-color: rgb(68, 52, 94);
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.headers {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    box-shadow: 0px 0px 80px #292525;
}

.leftnav {
    margin-left: 20px;

}

.rightnav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.rightnav li {
    margin-left: 20px;
    margin-right: 20px;
}

.rightnav ul li a {
    text-decoration: none;
    color: rgb(201, 201, 201);
    transition: all 0.3s ease;
}

.rightnav ul li a:hover {
    color: rgba(255, 255, 255, 0.977);
    font-size: 17px;
    transform: scale(1.1);
    
}

.mainly {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.maindiv {
    display: flex;
    width: 404px;
    height: 537px;
    margin: 80px 200px;
    box-shadow: 0px 0px 999px #8823cd;
}

.mainleftdiv {
    display: flex;
    margin: 30px 80px;
    font-size: 40px;
}

.bio {
    /* display: flex; */
    align-items: center;
}
a{
    
    width: auto;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    
}
.footlink a{
    display: flex;
    color: rgb(201, 201, 201);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    transition: all 0.3s ease;
}
.footlink a:hover{
    color: rgb(255, 255, 255);
    font-size: 17px;
    transform: scale(1.1);
}
.copyrights{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social{
    display: flex;
    width: 20px;
    height: 20px;
}

.icon{
    display: flex;
    align-items: center;
    color: rgb(201, 201, 201);
    width: 54px;
    height: 28px;
    text-decoration: none;
    margin-left: 20px; 
   
}
.foot span {
    display: flex;
    font-size: 17px;
    margin-left: 4px;
    transition: all 0.3s ease;
}
.foot span:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.1);

}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 80px #292525;
    
}

